#Key stuff
key.properties
**/.keystore
**/.jks
android/key.properties

android/local.properties

scrobblenaut/.idea
scrobblenaut/.dart_tool

.gradle/
android/.gradle
android/.idea

.flutter-plugins
.flutter-plugins-dependencies

Miscellaneous

*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

IntelliJ related

*.iml
*.ipr
*.iws
.idea/
android/.idea/
android/local.properties

flutter/
build/
.dart_tool/
.packages
pubspec.lock

release-keystore.jks
keystore.b64
android/key.properties
plugins/
